// @import "@/shared/styles/mixins";

.mobile {
  display: none;
}

@media (max-width: 769px) {
  .mobile {
    width: 100%;
    display: block;
    position: relative;
    z-index: 90;

    .oneBlock {
      background-color: #2a2349;

      .container {
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        .logo {
          .logoIcon {
            width: fit-content;
            height: 26px;
            fill: white;
          }
        }

        .blocksSoc {
          display: flex;
          gap: 15px;
        }

        .favorite {
          width: fit-content;
          height: fit-content;
          display: flex;
          align-items: center;

          span {
            margin-left: 8px;
            // @include font-default(400, 14, 120%, white);
          }
        }
      }
    }

    .three {
      display: flex;
      width: 100%;
      background-color: #2a2349;

      .link {
        position: relative;
        width: 33.8%;
        padding: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fafafa;
        font: 400 14px/120% 'Inter';
      }

      .linkActive {
        position: relative;
        width: 33.8%;
        padding: 5px 0;
        display: flex;
        align-items: center;
        background-color: white;
        color: #444444;
        font: 400 14px/120% 'Inter';

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 100%;
          height: 4px;
          background: #00ccdb;
          transition: 0.3s;
          animation: line 1.2s 1;
        }

        @keyframes line {
          0% {
            width: 0%;
          }

          100% {
            width: 100%;
          }
        }
      }
    }

    .twoBlock {
      width: 100%;
      background-color: white;
      padding: 10px 0;

      .container {
        position: relative;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0 20px;

        .icon {
          width: 26px;
          height: 26px;
          fill: #00ccdb;
        }

        .form {
          border: 1px solid #e0e0e0;
          border-radius: 8px;
          height: 55px;
          width: 100%;
          display: flex;
          align-items: center;
          outline: none;

          input {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 10px;

            &:focus-visible {
              outline: none;
              outline-offset: 0;
            }

            &::placeholder {
              color: #bdbdbd;
              font: 400 14px/110% 'Inter';
            }
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 100%;
            background: #2a2349;
            border-radius: 0px 8px 8px 0px;

            .seacrhIcon {
              width: 22px;
              height: 22px;
            }
          }
        }

        .plus {
          min-width: 26px;
          min-height: 26px;
          display: flex;
          align-items: center;
          cursor: pointer;

          .plusIcon {
            fill: #00ccdb;
            width: 100%;
            height: 100%;
          }
        }

        .searchAdvert {
          right: 0;
          left: 0;
          max-width: calc(100% - 20px);
          margin: auto;
          position: absolute;
          top: 48px;
          max-height: 504px;
          overflow: scroll;
          border-radius: 8px;
          z-index: 1001;
          background: #ffffff;
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
          display: flex;
          flex-direction: column;

          &::-webkit-scrollbar {
            height: 0;
            width: 0;
          }

          .item {
            width: 100%;
            height: 90px;
            padding: 16px 12px;
            display: flex;
            gap: 15px;
            transition: 0.4s;

            &:hover {
              background: #f2f2f2;
            }

            img {
              height: 64px;
              min-width: 112px;
            }

            .text {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .title {
                font: 400 16px/110% 'Inter';
                color: #2a2349;
              }

              .number {
                font: 700 20px/100% 'Inter';
                color: #444444;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .mobile {
    .twoBlock {
      .container {
        .searchAdvert {
          .item {
            img {
              min-width: 70px;
            }

            .text {
              .title {
                font: 400 15px/110% 'Inter';
              }

              .number {
                font: 700 18px/100% 'Inter';
              }
            }
          }
        }
      }
    }
  }
} ;
